<section>
    <h2 class="text-center mt-4">All Users</h2>
    {{#each users}}
    <div class="main mt-5">
        
        <i class="fas fa-user-circle  fa-5x user"></i>
        <h4>Name:{{this.name}}</h4>
        <h3>Email:{{this.email}}</h3>
        <hr>
      
    </div>
      {{/each}}
</section>
<style>
    .main{
           border: 1px solid;
        border-radius: 3px;
        padding: 30px;
        margin-left: 30%;
        margin-top: 5%;
        height: 300px;
        width: 600px;
    }
</style>
